@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: "Inter", sans-serif !important;
}

.container {
	width: clamp(16rem, 90vw, 87.5rem);
	margin: 0 auto;
}

input {
    @apply rounded-lg px-3 py-3  bg-[#F9FAFB] border-[#D0D5DD] border-2
}

.ant-btn-primary {
    @apply bg-primary
}

.ant-btn-primary p {
    color: white
}

.small-btn > span{
    @apply text-xs
}
